* {
    width: 100%;
}

table {
    width: 100%;
}

td {
    max-width: 12%;
    width: 100px;
}

hr {
    width: 0%;
    margin: 0;
    position: absolute;
}

body {
    background-color: #d0b8a8 ;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    overflow-x: hidden;
}

#banner.imgBanner {
    width: 100%;
    top: 92px; 
    height: 605px;
    object-fit: cover;
    
}

header {
   background-color: #d0b8a8;
}

#title {
    margin-left: 40px;
    margin-top: 34px;
    margin-bottom: 15px;
    font-size: 40px;
    color: #2E0800;
}

#welcome {
    margin: 0;
    position: absolute;
    top: 115px;
    color: white;
    padding-top: 175px;
    padding-right: 1000px;
    padding-left: 40px;
    padding-bottom: 347px;
    font-size: x-large;
    width: 730px;
    background-color: black;
    opacity: 75%;
}

#orderCoffee {
    position: absolute;
    border: 0;
    margin-left: 40px;
    top: 500px;
    height: 150px;
    width: 350px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #8d493a;
    color: white;
    font-size: large;
}


.navBar {
    position: absolute;
    left: 1175px;
    top: 45px;
}
.navigation {
    margin: 10px;
    color: #722C1D;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.about {
    background-color: lightgreen;
}


/* 
LABORATORY EXERCISE #4
Your task is to edit this CSS file and design the different web pages (delete the dummy/test code). 
You are NOT allowed to modify/change the HTML files.

Tips: 
1. There are some elements that have no classes at all (such as the list of steps in making coffee), to style them, 
you can use contextual selectors or attribute selectors to select them for styling
2. Just with any web design project, it's best to draft a wireframe first before you start working with the CSS.
3. You do not have to select all the classes/ids in the web pages; 
the main goal is to create a website that is both visually appealing and user-friendly.
*/